body {
  background-color: black;
}
h5 {
  font-family: 'Roboto Condensed: 700', sans-serif;
}
.navbar, .logoRow {
  background-color: #f7fcfe; /* Foam */
}
.navbar-light .navbar-nav .nav-link.custom-color {
  font-family: 'Roboto Condensed: 700', sans-serif;
  color: black;
  /*text-align: center;*/
}
.navbar-light .navbar-nav .nav-link.custom-color:hover {
  text-decoration-line: underline;
  color: black;
  cursor: pointer;
}
.flex-box, .navbar-brand {
  width: 20%;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  /*border-style: solid;
  border-width: 2px;
  border-color: black;*/
}
.img-fluid {
  max-width: 100%; 
  height: auto;
}
.values {
  color: black;
  text-align: center;
  font-size: large;
  font-family: 'Saira Semi Condensed', sans-serif; /* change font*/
}
.paragraph {
  background-color: #f7fcfe;
  color: black;
  text-align: left;
  font-size: medium;
  font-family: 'Saira Semi Condensed', sans-serif; /* change font*/
}
.address {
  color: #f7fcfe;
  font-size: medium;
  opacity: 0.75;
  font-family: 'Roboto Condensed', sans-serif;
}
.onblack {
  color: #f7fcfe;
}
#contactCard {
  background-color: #ffffff;
  font-family: 'Roboto Condensed: 700', sans-serif;
}
.contact {
  color: #f7fcfe;
}
.contact:hover {
  text-decoration-line: underline;
  color: #f7fcfe;
}
#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 900; 
}
.event_card {
  /*width: 32rem;
  height: 15rem;*/
  border-bottom: 0 none;
}
.cinnroll {
  background-image: url(/img/cinnroll.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: 25%;
  background-color: black;
 }

 #IGBar {
  max-width: 100%; 
  height: auto;
  opacity: 1;
 }

 #IGBar2 {
  max-width: 100%; 
  height: auto;
  opacity: 0.5;
 }

 #IGLink {
  font-size: 4rem;
 }
 #IGOverlay {
   display: none;
 }
 #IGOverlay2 {
   display: block;
 }
 @media (min-width: 768px) {
   .noDisplay {
     display: none;
   }
 }
.event-photo {
  max-width: 100%;
  height: auto;
  background: black;
}

 .site-footer {
   background-color: black;
 }
 .center-text {
   text-align: center;
 }

 .submitBtn {
    background-color: #59656F; 
    color:snow;
 }

 .w100 {
   width: 100%;
   height: auto;
   display: block;
 }
 .w50 {
  width: 44.5%;
  height: auto;
  display: block;
}



